In [3]:
import os
import pandas as pd

In [ ]:
# 작업 디렉터리 이동
#os.chdir('../')

# 사용 데이터 불러오기
filename=os.getcwd()+'/data/전국음식점 데이터/fulldata_07_24_05_P_휴게음식점.csv'

In [5]:
df=pd.read_csv(filename, encoding='cp949')
dataframe=df[['업태구분명','위생업태명', '전통업소주된음식']]
dataframe

C:\Users\11\AppData\Local\Temp\ipykernel_1452\2019571038.py:1: DtypeWarning: Columns (11,39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(filename, encoding='cp949')

           업태구분명     위생업태명 전통업소주된음식
0       기타 휴게음식점  기타 휴게음식점      NaN
1       기타 휴게음식점  기타 휴게음식점      NaN
2       기타 휴게음식점  기타 휴게음식점      NaN
3       기타 휴게음식점  기타 휴게음식점      NaN
4       기타 휴게음식점  기타 휴게음식점      NaN
...          ...       ...      ...
589382       편의점       편의점      NaN
589383    일반조리판매    일반조리판매      NaN
589384    일반조리판매    일반조리판매      NaN
589385  기타 휴게음식점  기타 휴게음식점      NaN
589386    일반조리판매    일반조리판매      NaN

[589387 rows x 3 columns]

In [9]:
# 업태구분명 값 카운팅
index_name=dataframe['업태구분명'].value_counts()
index_name

업태구분명
커피숍         175149
기타 휴게음식점    105016
일반조리판매       91061
다방           79909
편의점          55466
패스트푸드        31365
과자점          23421
백화점           8310
푸드트럭          7408
아이스크림         3302
전통찻집          2797
키즈카페          1378
떡카페           1371
고속도로          1323
철도역구내          780
유원지            711
관광호텔           253
극장             231
공항              86
한식              11
분식               8
기타               4
김밥(도시락)          2
호프/통닭            2
룸살롱              1
식품소분업            1
까페               1
경양식              1
식육(숯불구이)         1
단란주점             1
Name: count, dtype: int64

In [7]:
# 위생업태명 값 카운팅
index_name2=dataframe['위생업태명'].value_counts()
index_name2

위생업태명
커피숍         174287
기타 휴게음식점    104559
일반조리판매       90807
다방           79899
편의점          55234
패스트푸드        31303
과자점          23419
백화점           8282
푸드트럭          7393
아이스크림         3294
전통찻집          2794
키즈카페          1371
떡카페           1361
고속도로          1323
철도역구내          778
유원지            711
관광호텔           253
극장             231
공항              86
한식              11
분식               8
기타               4
김밥(도시락)          2
호프/통닭            2
룸살롱              1
식품소분업            1
까페               1
경양식              1
식육(숯불구이)         1
단란주점             1
Name: count, dtype: int64

In [8]:
# 전통업소주된음식 값 카운팅
index_name3=dataframe['전통업소주된음식'].value_counts()
index_name3

전통업소주된음식
`       1
0.0     1
피자      1
과자,빵    1
갈비탕     1
전통차     1
커피      1
Name: count, dtype: int64